@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Rajdhani, sans-serif;
    color: black;
    background-color: #FFEE44;
}

/* header & logo */

header {
    width: 100%;
    height: 60px;
    padding: 0 5px;
}

#logo {
    float: left;
    margin-left: 70px;
    height: 75px;
}

#logo img {
    width: 70px;
    border-radius: 50%;
    margin: 2px;
    border: 2px solid black;
}

#logo img:hover {
    border: 3px solid black;
    margin: 1px;
}

h1, h2 {
    text-transform: capitalize;
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
}

/* quiz question and answers */

#qanda {
    margin: 15px 0;
}

#question {
    font-size: 96px;
}

#question, #counter, .scores{
    text-align: center;
}

.answers {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    justify-content: left;
}

.answers button {
    margin: 30px 5px;
    padding: 10px 5px;
    background-color: black;
    color: #FFEE44;
    height: 100px;
    font-size: 64px;
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
}

.level {
    float: left;
    margin: 0 10px;
}

.quiz-title {
    float: right;
    margin: 0 10px;
}

.scores {
    display: flex;
    justify-content: center;
}


.correct-score {
    color: black;
    padding: 10px;
    display: none;
}

/* final score page */

#quiz-scores-area ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

#quiz-scores-area ol {
    list-style-type: upper-roman;
    text-align: center;
}

/* high scores page */

#high-scores-area {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#high-scores-area div {
    margin: 10px;
    width: 100%;
    text-align: center;
}

#high-scores-area ol {
    width: 20%;
    margin: 0 auto;
}