@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Prompt:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Barlow, sans-serif;
    color: #3a3a3a;
}

/* header & logo */

header {
    background-color: cadetblue;
    letter-spacing: 2px;
    width: 100%;
    height: 80px;
}

#logo {
    float: left;
    color: #021559;
    font-size: 250%;
}

h1, h2 {
    text-transform: capitalize;
    font-family: Prompt, sans-serif;
    font-weight: 700;
}

nav {
    float: right;
}


nav .drop-menu {
    display: none;
    list-style: none;
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
}

nav .main-menu {
    display: flex;
    list-style: none;
    text-decoration: none;
}

nav .main-menu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
}

/* quiz-links-area */


#quiz-links-area ul li a img{
    height: 244px;
    width: 198px;
}