@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Prompt:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Barlow, sans-serif;
    color: #3a3a3a;
}

/* header & logo */

header {
    background-color: cadetblue;
    width: 100%;
    height: 60px;
    padding: 0 5px;
}

#logo {
    float: left;
    color: #021559;
    font-size: 250%;
    letter-spacing: 2px;
}

h1, h2 {
    text-transform: capitalize;
    font-family: Prompt, sans-serif;
    font-weight: 700;
}

/* navigation */

nav {
    float: right;
}

.main-menu {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 120%;
    letter-spacing: 2px;
}

.main-menu li a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #021559;
}

.main-menu li a:hover {
    text-decoration: underline;
}

nav .drop-menu {
    display: none;
    list-style: none;
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
}

.main-menu, #logo {
    line-height: 60px;
}

/* introduction */

#intro {
    background-color: lightcyan;
    text-align: center;
    height: 120px;
    width: 300px;
    margin: 20px auto 15px;
    padding: 5px 10px;
    border-radius: 17px;
}

/* quiz-links-area */

#quiz-links-area ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.quiz-logo {
    background: no-repeat center;
    background-size: contain;
    height: 244px;
    width: 198px;
    margin: 0 15px;
}

#html-logo {
    background-image: url("../images/html_logo.png");
    background-size: cover;
}

#css-logo {
    background-image: url("../images/css_logo.png");
}

#js-logo {
    background-image: url("../images/javascript_logo.png");
}

#python-logo {
    background-image: url("../images/python_logo.jpg");
    background-size: cover;
}

/* quiz question and answers */

#qanda {
    margin: 15px 0;
}

#question, #counter, .scores{
    text-align: center;
}

.answers {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto auto;
    justify-content: center;
}

.answers button {
    margin: 5px;
    padding: 10px 5px;
    border-radius: 14px;
    background-color: lightcyan;
}

.scores {
    display: flex;
    justify-content: center;
}


.correct-score {
    color: green;
    padding: 10px;
}

.incorrect-score {
    color: red;
    padding: 10px;
}

/* final score page */

#quiz-scores-area ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

#quiz-scores-area ol {
    list-style-type: upper-roman;
    text-align: center;
}

/* high scores page */

#high-scores-area {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#high-scores-area div {
    margin: 10px;
    width: 100%;
    text-align: center;
}

#high-scores-area ol {
    width: 20%;
    margin: 0 auto;
}